In [17]:
Age = [23,26,54,42,78,29,51,33,38,45]

In [18]:
import numpy as np

In [19]:
np.mean(Age)

41.9

In [20]:
np.median(Age)

40.0

In [21]:
import seaborn as sns

In [22]:
df =  sns.load_dataset('Tips')

In [23]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [24]:
np.mean(df['total_bill'])

19.78594262295082

In [25]:
Age1 = [23,26,54,42,78,29,51,33,38,45,1000]

In [26]:
np.mean(Age1)

129.0

In [27]:
np.median(Age1)

42.0

In [28]:
data = [[1,2],[5,6]]

In [29]:
df = pd.dataframe(data,columns=["A","B","C"])

NameError: name 'pd' is not defined